    .chip {
  width:  150px;
  color: white;
  margin-top: 10px;
}

/*#output-categories {
  width: 400px;
}*/

#price-text {
  margin-left: 10px;
}


.btn, .btn-large, .btn-flat {
    float: right;
    margin: 13px 15px 0 0;
    }
body {
  background-image:url(74453.jpg);
  /*opacity: 0.5;*/
  background-repeat: no-repeat;
  background-size: 100%;
}

#color {
  background-color: orange;
  opacity: 0.95;
}

.collapsible {
  background-color: white
}
