    .chip {
  width:  150px;
  color: white;
  margin-top: 10px;
}

/*#output-categories {
  width: 400px;
}*/

#price-text {
  margin-left: 10px;
}


.btn, .btn-large, .btn-flat {
    float: right;
    margin: 13px 15px 0 0;
    }


