body {
  background-image:url(74453.jpg);
  /*opacity: 0.5;*/
  background-repeat: no-repeat;
  background-size: 100%;
}

    .chip {
  width:  150px;
  color: white;
  margin-top: 10px;
}

.brand-logo {
margin-left: 15px;
}

#price-text {
  margin-left: 15px;
}

.btn, .btn-large, .btn-flat {
    float: right;
    margin: 13px 15px 0 0;
    }

#color {
  background-color: orange;
  opacity: 0.87;
}

.collapsible {
  background-color: white
}
/*.col m4 {
  display: inline-block;

}*/